{% extends 'base.html.twig' %}

{% block title %}Hello AccountPasswordController!{% endblock %}

{% block content %}

    <h1>Modifier votre mot de passe</h1>
    <a href="{{ path('account') }}">Retour à mon compte</a>
    <hr>
    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
    {{ form(form) }}
{% endblock %}
